button{
	left:94%;
  	top:1em;
	height: 40px;
	width: 80px;
	padding: 8px;
    font-size: 0.8rem;
    font-weight: 900;
    color: #0000ff;
    background-color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 12px;

}

#renderCanvas{
	position: absolute;
	width: 100%;
	height: 100%;
}
html,body{
  margin:0;
  height: 100%;
}
.canvas-container{
  position: relative;
  width: 100%;
  height: 100%;
}
#nazad {
  color: red;
  position:absolute;  
  width: 100px;
  height: 50px;
}